.maindivcontent1 {
  width: 100%;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.maindivcontent2 {
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainndiv {
  padding: 80px;
}

.steptitles {
  font-size: 20px;
}
.titledivfor1,
.titlediv2 h3 {
  font-weight: 400;
  font-size: 18px;
}
.titledivfor1,
.titlediv2 h1 {
  font-size: 22px;
  font-weight: 700;
}
.titledivfor1,
.titlediv2 {
  color: black;
}

.currentIcon span {
  background-color: yellow;
  color: black;
}
.customIcon {
  padding: 6px;
  background-color: black;
  font-size: 24px;
  color: white;
  border-radius: 38px;
}

.ant-steps-item-tail {
  border-color: red; /* Change the color of the line between icons to red */
}

.titleinsteps {
  color: black;
  font-weight: 700;
}

.inputbuttondiv input {
  padding: 12px 21px;
  background-color: transparent;
  border: 0.5px solid rgba(0, 0, 0, 0.458);
  border-radius: 11px;
  color: black;
  margin: 0px 5px;
}

.buttonin1step:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
.buttonin1step:hover {
  /* font-weight: 900; */
  background: #5026a4;
}
.buttonin1step {
  font-family: monospace;
  font-size: 1.5rem;
  color: #fafafa;
  text-transform: uppercase;
  padding: 2px 25px;
  border: 1px solid #9662fe;
  background: #9662fe;
  box-shadow: 4px 6px #9662fe54;
  cursor: pointer;
  margin: 35px 10px;
}

.buttonin11step:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
.buttonin11step:hover {
  font-weight: 900;
  /* background: #ffffff; */
}
.buttonin11step {
  font-family: monospace;
  font-size: 1.5rem;
  color: #ff4646;
  text-transform: uppercase;
  padding: 1px 25px;
  border: 2px solid #ff4646;
  background: white;
  box-shadow: 4px 6px #ff4646;
  cursor: pointer;
  margin: 35px 10px;
}

.divbtninput {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tablediv th {
  padding: 7px;
}
.tablediv {
  margin-right: 50px;
  /* margin-bottom: 30px; */
  height: 300px;
  overflow: auto; /* Allow both vertical and horizontal scrolling */
  padding: 10px 6px;
  margin-left: 50px;
}

.tablediv::-webkit-scrollbar {
  width: 3px; /* Width of the vertical scrollbar */
  height: 3px; /* Height of the horizontal scrollbar */
}

.tablediv::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0); /* Set the background color of the scrollbar track to grey */
}

.tablediv::-webkit-scrollbar-thumb {
  background-color: #9662fe; /* Set the color of the scrollbar thumb to purple */
  border-radius: 10px; /* Round the corners of the scrollbar thumb */
  border: 1px solid grey; /* Optional: Add a border around the scrollbar thumb */
}


.tablediv table {
  border-collapse: separate;
  border-spacing: 0 3px;
}
.tablediv thead {
  font-size: 20px;
  background-color: #c0a0ff61;
  /* border: 0.5px solid #c0a0ff; */
}

.tablediv tbody td {
  background-color: #d2d2d264;
  /* margin: 10px 0; */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.tablediv table thead th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tablediv table thead th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tablediv table tbody tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tablediv table tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tablediv table {
  width: 100%;
  color: black;
}

.tablediv td {
  padding: 5px;
}


.trtagbody:hover {
  background-color: #9662FE;
  cursor: pointer;
}
.trtagbody {
  border-bottom: 1px solid #00000030;
}

.maindivof4 {
  min-height: 360px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headingdiv11 {
  font-weight: 600;
  margin: 0px 8px;
}

.tkdetailsdiv{
  padding: 0px 180px;
}
.headingdiv1 {
  background-color: #ffd600;
  padding: 5px; /* Adjust padding as needed */
  font-weight: bolder;
  display: inline-block; /* Ensure the div is inline-block to apply the skew */
  transform: skew(25deg);
  margin: 20px 0; /* Adjust margin to prevent other elements from overlapping */
  position: relative;
}

.headingdiv1 span {
  display: block;
  transform: skew(334deg);
}

.headingdiv {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.checkpage {
  width: 100%;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* To replicate `items-center` from Tailwind */
}



.btncheck {
  font-family: monospace;
  font-size: 1.5rem;
  color: #ff8a00;
  text-transform: uppercase;
  padding: 1px 25px;
  border: 2px solid #ffb320;
  background: white;
  box-shadow: 4px 6px #ffb320;
  cursor: pointer;
  margin: 35px 10px;

  left: 20px;
  transition: background-color 300ms ease-out, color 300ms ease-out,
    box-shadow 300ms ease-out;
}

.btncheck:hover {
  /* background-color: #ff8a00; */
  /* color: white; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  font-weight: 900;
}
/* stepfrom.module.css */

.buttonin1steplist {
  font-family: monospace;
  font-size: 1.5rem;
  color: #fafafa;
  text-transform: uppercase;
  padding: 2px 25px;
  border: 1px solid #9662fe;
  background: #9662fe;
  box-shadow: 4px 6px #9662fe54;
  cursor: pointer;
  margin: 35px 10px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem; /* 14px */
}

.btnchecklist {
  font-family: monospace;
  font-size: 1.5rem;
  color: #ff8a00;
  text-transform: uppercase;
  padding: 1px 25px;
  border: 2px solid #ffb320;
  background: white;
  box-shadow: 4px 6px #ffb320;
  cursor: pointer;
  margin: 35px 10px;

  left: 20px;
  transition: background-color 300ms ease-out, color 300ms ease-out,
box-shadow 300ms ease-out;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem; /* 14px */
}
.btnchecklist:hover {
  background-color: #ff8a00;
  box-shadow: 4px 6px #ffb320;
  color: white;
}

.buttonin1steplist:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
.buttonin1steplist:hover {
  font-weight: 900;

}.buttonin1steplist2 {
  font-family: monospace;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  color: #ff4646;
  text-transform: uppercase;
  border: 2px solid #ff4646;
  background: white;
  box-shadow: 4px 6px #ff4646;
  margin: 35px 10px;
  
}
.buttonin1steplist2:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
.buttonin1steplist2:hover {
  font-weight: 900;}

/* Define common styles for small screens */
@media (max-width: 600px) {
  .btncheck, .buttonin11step { margin-top: 10px;
    padding: 0.25rem 0.5rem; /* 4px 8px */
    font-size: 0.875rem; /* 14px */
   margin-left: 15px;
   margin-right: 15px; /* Adjust margin if needed */
  }
}

/* Ensure hover and active states are also considered */
.btncheck:hover, .buttonin11step:hover {
  font-weight: 900;
  /* Additional hover styles */
}

.btncheck:active, .buttonin11step:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}



/*This is for the landing page, */

/* styles/home.css */
/* Assuming you have a CSS file linked, e.g., styles.css */
